* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  padding: 1.75rem 1rem;
  display: grid;
  gap: 1.75rem;
  overflow-x: hidden;
}
@media (min-width: 640px) {
  body {
    gap: 3.5rem;
    padding: 5.5rem 10.25rem;
  }
}

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-header .mobile-nav-toggle {
  display: none;
}
.primary-header .primary-nav {
  display: flex;
  gap: 2.625rem;
  list-style: none;
}
.primary-header .primary-nav a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}
.primary-header .primary-nav a:hover, .primary-header .primary-nav a:focus-visible {
  color: hsl(5, 85%, 63%);
}
@media (max-width: 640px) {
  .primary-header .primary-nav {
    background-color: white;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: 9.5rem 2rem;
    gap: 1.875rem;
    transform: translateX(100%);
  }
  .primary-header .primary-nav[data-visible=true] {
    transform: translateX(0%);
  }
  .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    border: none;
    background: none;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}
.primary-header .overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.primary-header .overlay[data-visible=true] {
  visibility: visible;
}

.main-container {
  display: grid;
  gap: 1.75rem;
}
.main-container .main-image {
  display: block;
  max-inline-size: 100%;
}
.main-container .headline {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 100%;
  padding-inline-end: 1em;
}
.main-container .content {
  display: grid;
  gap: 1.75rem;
}
.main-container .content .description {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 150%;
}
.main-container .content .read-more {
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(240, 100%, 5%);
  padding: 1rem 2rem;
  font-weight: 800;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  letter-spacing: 3.5px;
}
.main-container .content .read-more:hover, .main-container .content .read-more:focus {
  background-color: hsl(240, 100%, 5%);
  color: white;
}
.main-container .side-new-section {
  background-color: hsl(240, 100%, 5%);
  color: white;
  display: grid;
  padding: 1rem;
  margin: 2.25rem 0;
}
.main-container .side-new-section .new-title {
  color: hsl(35, 77%, 62%);
}
.main-container .side-new-section .side-new-item {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  padding-block: 2rem;
  line-height: 200%;
}
.main-container .side-new-section .side-new-item a {
  text-decoration: none;
  color: white;
}
.main-container .side-new-section .side-new-item a:hover, .main-container .side-new-section .side-new-item a:focus-visible {
  color: hsl(35, 77%, 62%);
}
.main-container .side-new-section .side-new-item:last-child {
  border: none;
  padding-block-end: 0.25rem;
}
@media (min-width: 640px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .main-container .image-container {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }
  .main-container .image-container .main-image {
    display: block;
    block-size: 100%;
  }
  .main-container .headline {
    padding: 0;
    font-size: 4rem;
    grid-column-start: 1;
    grid-row-start: 2;
  }
  .main-container .content {
    padding-inline-end: 1rem;
  }
  .main-container .content .description {
    line-height: 175%;
  }
  .main-container .content .read-more {
    padding: 0.25rem 2rem;
  }
  .main-container .side-new-section {
    display: grid;
    max-block-size: 100%;
    grid-column-start: 3;
    grid-row: 1/span 2;
    margin: 0;
    padding: 2rem 1.5rem;
  }
  .main-container .side-new-section .new-title {
    font-size: 2.25rem;
  }
}

.trending {
  display: grid;
  gap: 1.75rem;
  margin-block-end: 4rem;
}
.trending .trending-item {
  display: flex;
  gap: 1.5rem;
}
.trending .trending-item img {
  display: block;
  max-inline-size: 30%;
}
.trending .trending-item .trending-text {
  display: grid;
  align-items: center;
}
.trending .trending-item .trending-text .trending-number {
  color: hsl(5, 85%, 63%);
  font-size: 2rem;
  font-weight: 700;
}
.trending .trending-item .trending-text a {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
  font-size: 18px;
  font-weight: 800;
}
.trending .trending-item .trending-text a:hover, .trending .trending-item .trending-text a:focus-visible {
  color: hsl(5, 85%, 63%);
}
.trending .trending-item .trending-text p {
  color: hsl(236, 13%, 42%);
  font-size: 15px;
  line-height: 150%;
}
@media (min-width: 640px) {
  .trending {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}/*# sourceMappingURL=style.css.map */